In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("train_set.csv")

In [3]:
data.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287836 entries, 0 to 287835
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                287836 non-null  int64
 1   OGC                 287836 non-null  int64
 2   OG                  287836 non-null  object
 3   DC                  287836 non-null  object
 4   Dept                287836 non-null  object
 5   UC                  287836 non-null  int64
 6   Union               287800 non-null  object
 7   JF                  287798 non-null  object
 8   Job                 287836 non-null  object
 9   EI                  287836 non-null  int64
 10  Salaries            287836 non-null  int64
 11  Overtime            287836 non-null  int64
 12  H/D                 287836 non-null  float64
 13  YT                  287836 non-null  object
 14  Total_Compensation  287836 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 32.9+ MB

In [5]:
data.isnull().sum()

Year                   0
OGC                    0
OG                     0
DC                     0
Dept                   0
UC                     0
Union                 36
JF                    38
Job                    0
EI                     0
Salaries               0
Overtime               0
H/D                    0
YT                     0
Total_Compensation     0
dtype: int64

In [7]:
data.JF.unique()

array(['Med Therapy & Auxiliary', 'Journeyman Trade',
       'Appraisal & Taxation', 'Police Services', 'Information Systems',
       'Revenue', 'Community Development', 'Recreation',
       'Public Service Aide', 'Nursing', 'Fire Services',
       'Professional Engineering', 'Protection & Apprehension',
       'Housekeeping & Laundry', 'Street Transit', 'Dietary & Food',
       'Library', 'Agriculture & Horticulture', 'SF Superior Court',
       'Correction & Detention', 'Clerical, Secretarial & Steno',
       'Human Services', 'Skilled Labor', 'Lab, Pharmacy & Med Techs',
       'Budget, Admn & Stats Analysis', 'Personnel', 'Management',
       'Payroll, Billing & Accounting', 'Health & Sanitation Inspection',
       'Computer Operatns & Repro Svcs', 'Public Health', 'Legal & Court',
       'Public Safety Inspection', 'Probation & Parole',
       'Supervisory-Labor & Trade', 'Hospital Administration',
       'Medical & Dental', 'Pub Relations & Spec Assts',
       'Purchasing & Storekeeping', 'Park & Zoo',
       'Administrative-DPW/PUC', 'Semi-Skilled & General Labor',
       'Construction Project Mgmt', 'Energy & Environment',
       'Sub-Professional Engineering', 'Airport Operation',
       'Property Administration', 'Construction Inspection',
       'Museum & Cultural Affairs', 'Administrative & Mgmt (Unrep)',
       'Administrative-Labor & Trades', 'Administrative Secretarial',
       'Emergency Services', nan, 'Port Operation',
       'SF Redevelopment Agency'], dtype=object)

In [11]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="most_frequent")
df1=data.copy()
df1[["Union","JF"]]=imputer.fit_transform(df1[["Union","JF"]])

In [12]:
df1.isnull().sum()

Year                  0
OGC                   0
OG                    0
DC                    0
Dept                  0
UC                    0
Union                 0
JF                    0
Job                   0
EI                    0
Salaries              0
Overtime              0
H/D                   0
YT                    0
Total_Compensation    0
dtype: int64

In [28]:
len(df1.OG.unique())

7

In [57]:
df2=df1.drop(["OG","Dept","Union","Job"],axis=1)

In [58]:
df2

,Year,OGC,DC,UC,JF,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,DPH,250,Med Therapy & Auxiliary,6725,12196,0,0.00,Calendar,16158
1,2013,4,DPH,39,Journeyman Trade,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,ASR,21,Appraisal & Taxation,46108,100554,0,12424.50,Calendar,144708
3,2016,1,POL,911,Police Services,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,HHP,21,Information Systems,28684,58813,0,7655.28,Calendar,82106
...,...,...,...,...,...,...,...,...,...,...,...
287831,2016,3,DSS,535,Human Services,9610,78980,30115,13068.80,Fiscal,147079
287832,2015,5,LIB,790,Library,790,30704,0,5465.57,Calendar,40174
287833,2014,2,HHP,6,Journeyman Trade,38352,104451,0,13054.94,Calendar,164669
287834,2013,1,JUV,250,Housekeeping & Laundry,29266,14425,0,4051.90,Calendar,19594
287835,2015,4,DPH,791,Nursing,13906,105561,8945,7993.89,Fiscal,154197

In [73]:
df1.DC.value_counts()

DPH    62834
MTA    42171
DSS    23839
POL    22896
REC    15972
AIR    13511
FIR    11584
DPW    10977
SHF     7395
ADM     7364
PUC     6749
LIB     6598
WTR     5785
CWP     4112
CRT     3958
HHP     2897
JUV     2363
CAT     2339
DBI     2225
DAT     2141
HRD     2041
ECD     2036
CON     2034
TIS     1990
FAM     1945
PRT     1931
TTX     1893
CPC     1885
REG     1834
ASR     1293
PDR     1218
ADP     1175
ENV      997
BOS      872
MYR      842
ECN      822
RET      746
CSS      676
WAR      610
HSS      566
AAM      553
CHF      461
RNT      316
UNA      294
ART      291
HRC      174
ETH      122
CFC      110
WOM      104
SCI       98
PAB       81
CSC       77
CII       25
LLB       14
Name: DC, dtype: int64

In [56]:
len(df2.JF.unique())

55

In [75]:
dummies=pd.get_dummies(df2[["JF","YT","DC"]])

In [76]:
dummies

,JF_Administrative & Mgmt (Unrep),JF_Administrative Secretarial,JF_Administrative-DPW/PUC,JF_Administrative-Labor & Trades,JF_Agriculture & Horticulture,JF_Airport Operation,JF_Appraisal & Taxation,"JF_Budget, Admn & Stats Analysis","JF_Clerical, Secretarial & Steno",JF_Community Development,...,DC_RET,DC_RNT,DC_SCI,DC_SHF,DC_TIS,DC_TTX,DC_UNA,DC_WAR,DC_WOM,DC_WTR
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
df3=pd.concat([df2.drop(["JF","YT","DC"],axis=1),dummies.drop(["JF_Supervisory-Labor & Trade","YT_Fiscal","DC_LLB"],axis=1)],axis=1)

In [79]:
df3

,Year,OGC,UC,EI,Salaries,Overtime,H/D,Total_Compensation,JF_Administrative & Mgmt (Unrep),JF_Administrative Secretarial,...,DC_RET,DC_RNT,DC_SCI,DC_SHF,DC_TIS,DC_TTX,DC_UNA,DC_WAR,DC_WOM,DC_WTR
0,2015,4,250,6725,12196,0,0.00,16158,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2013,4,39,25058,74639,2820,12703.31,115784,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015,6,21,46108,100554,0,12424.50,144708,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2016,1,911,33369,140164,52754,13043.87,242323,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2013,2,21,28684,58813,0,7655.28,82106,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287831,2016,3,535,9610,78980,30115,13068.80,147079,0,0,...,0,0,0,0,0,0,0,0,0,0
287832,2015,5,790,790,30704,0,5465.57,40174,0,0,...,0,0,0,0,0,0,0,0,0,0
287833,2014,2,6,38352,104451,0,13054.94,164669,0,0,...,0,0,0,0,0,0,0,0,0,0
287834,2013,1,250,29266,14425,0,4051.90,19594,0,0,...,0,0,0,0,0,0,0,0,0,0
287835,2015,4,791,13906,105561,8945,7993.89,154197,0,0,...,0,0,0,0,0,0,0,0,0,0

In [94]:
x=df3.drop("Total_Compensation",axis=1)
y=df3.Total_Compensation

In [95]:
x

,Year,OGC,UC,EI,Salaries,Overtime,H/D,JF_Administrative & Mgmt (Unrep),JF_Administrative Secretarial,JF_Administrative-DPW/PUC,...,DC_RET,DC_RNT,DC_SCI,DC_SHF,DC_TIS,DC_TTX,DC_UNA,DC_WAR,DC_WOM,DC_WTR
0,2015,4,250,6725,12196,0,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2013,4,39,25058,74639,2820,12703.31,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015,6,21,46108,100554,0,12424.50,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2016,1,911,33369,140164,52754,13043.87,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2013,2,21,28684,58813,0,7655.28,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287831,2016,3,535,9610,78980,30115,13068.80,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287832,2015,5,790,790,30704,0,5465.57,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287833,2014,2,6,38352,104451,0,13054.94,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287834,2013,1,250,29266,14425,0,4051.90,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287835,2015,4,791,13906,105561,8945,7993.89,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x[["Year","OGC","UC","EI","Salaries","Overtime","H/D"]]=scaler.fit_transform(x[["Year","OGC","UC","EI","Salaries","Overtime","H/D"]])

In [97]:
x

,Year,OGC,UC,EI,Salaries,Overtime,H/D,JF_Administrative & Mgmt (Unrep),JF_Administrative Secretarial,JF_Administrative-DPW/PUC,...,DC_RET,DC_RNT,DC_SCI,DC_SHF,DC_TIS,DC_TTX,DC_UNA,DC_WAR,DC_WOM,DC_WTR
0,0.666667,0.500000,0.251769,0.124998,0.138673,0.051364,0.118504,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.000000,0.500000,0.038423,0.465804,0.245619,0.063133,0.630460,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.666667,0.833333,0.020222,0.857119,0.290004,0.051364,0.619224,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.000000,0.000000,0.920121,0.620304,0.357844,0.271520,0.644185,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.000000,0.166667,0.020222,0.533211,0.218514,0.051364,0.427019,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287831,1.000000,0.333333,0.539939,0.178629,0.253054,0.177042,0.645190,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287832,0.666667,0.666667,0.797776,0.014667,0.170371,0.051364,0.338772,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287833,0.333333,0.166667,0.005056,0.712937,0.296678,0.051364,0.644631,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287834,0.000000,0.000000,0.251769,0.544030,0.142490,0.051364,0.281800,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287835,0.666667,0.500000,0.798787,0.258491,0.298579,0.088694,0.440666,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

In [100]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)
reg.score(x_test,y_test)

0.9882312063312007